.gradle/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

*.iws
/out/
/.gradle/
.idea_modules/
*.db
local.properties
gradle.properties

.idea/inspectionProfiles/
src/main/resources/
src/test/resources/
